.resource-nav{

    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.home-center{
    opacity: 0.9;
}

.resource-nav-column{
    flex-direction: column;
    padding-left:0 ;
    padding-right: 0;
}
.resource-nav-column>.nav-resource-collapse>.me-auto{
    flex-direction: column;
    text-align: center;   
}

.hidden-col2{
    opacity: 0;
}

.rightmost-col2{
    opacity: 1;
    margin: auto;
    padding: 10px;
}

.user-list{
    padding: 10px;
    margin: 10px;
}

.user-list>.posts{
    border-radius: 5px;
    border-top: 3px solid yellowgreen;
}

/*.card>.card-body>.img-card{
    position: absolute;
    right: 5px;
    top: 15px;
    height: 15px;
    width: 15px;
    z-index: 2000;
}

.card>.card-body{
    position: relative;
 }*/
 